.footer {
    position: relative;
    margin: auto;
    width: 11rem;
    border-radius: .3rem;
    padding: .4rem;
    transition: .2s;
    display: flex;
    font-size: .14rem;
    justify-content: space-evenly;
    opacity: 0;
}
.footer .copyright-text {
    padding-top: .1rem;
}
.footer a {
    color: #fff;
}
.footer:after {
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.footer_text {
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1), -0.1rem -0.1rem 0.2rem rgba(255,255,255,1);
    border-radius: .1rem;
    padding: .1rem .2rem .1rem .2rem;
    background-color: #ECECEC;
}
.go-top {
    background-color: #CCCCFF;
    bottom: .4rem;
    right: .4rem;
    font-size: .22rem;
    display: none;
    position: fixed;
    text-decoration: none;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.go-top:hover {
    background: #99CCFF;
    color: #fff;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: .2rem;
}
.msc_player {
    position: relative;
    width: 2.1rem;
    border-radius: .3rem;
    padding: .15rem .15rem;
    background-color: #ECECEC;
}
.msc_title_bg {
    transition: .2s;
    background: #ECECEC;
    padding: 0 .15rem .2rem;
    opacity: 0;
    border-radius: .15rem;
    transform: translateY(.5rem);
}
.msc_title {
    font-weight: 400;
    color: #9CF;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    width: 1.4rem;
}
.msc_btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.msc_btns span {
    width: .35rem;
    height: .35rem;
    transition: .2s;
    position: relative;
    border-radius: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #ECECEC;
    box-shadow: .05rem .05rem .05rem rgba(0,0,0,0.1), -0.05rem -0.05rem .1rem rgba(255,255,255,1);
}

.msc_btns span:hover {
    box-shadow: 0px 0px 0px rgba(0,0,0,0),
                0px 0px 0px rgba(255,255,255,0),
                inset .05rem .05rem .05rem rgba(0,0,0,0.2),
                inset -0.05rem -0.05rem .1rem rgba(255,255,255,1);
}
.msc_btns span:hover img {
    transform: scale(0.9);
    transition: transform .2s ease-in-out;
}
.msc_btns span.msc_play {
    width: .5rem;
    height: .5rem;
}
.msc_btns span img {
    width: .2rem;
    transition: transform .2s ease-in-out;
}
.msc_btns span.msc_play img { 
    width: .4rem;
}