li {
  list-style: none;
}
a {
  text-decoration: none;
}
.bgWrap {
    position: relative;
    height: 7.5rem;
    width: 14.5rem;
    margin: .3rem auto;
    border: .3rem solid #ECECEC;
    border-radius: .7rem;
    object-fit: cover;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.1), -0.2rem -0.2rem 0.2rem rgba(255,255,255,.8);
    background: url(../image/index/final_back.jpg);
    background-size: contain;
}
.poster__concept {
  height: 7.5rem;
  margin-left: 6.6rem;
}
.poster__text {
  opacity: 0.9;
  position: absolute;
  top: .45rem;
  left: 1.3rem;
  height: 6rem;
  width: 4rem;
  border-radius: .3rem;
  background-color: #ECECEC;
  padding: .3rem;
  transition: .2s;
}
.poster__text h2 {
  text-align: center;
  padding-bottom: .3rem;
}
.king {
  margin-top: 1rem;
  position: relative;
  height: 18rem;
}
.king li {
  position: relative;
  float: left;
  width: 1.05rem;
  height: 6rem;
  margin-right: .1rem;
}
.king li.current {
  width: 8rem;
  height: 5.3rem;
}
.king li.current .big {
    display: block;
}
.row {
    margin-bottom: .7rem;
    width: 45%;
    height: 28%;
    border-radius: .5rem;
    background-color: #ECECEC;
    transition: .2s;
    box-shadow: .2rem .2rem .3rem rgba(0,0,0,.1), -0.2rem -0.2rem .3rem rgba(255,255,255,.8);
}
.row1 {
  float: left;
  margin-left: 15%;
}
.side__img1 {
  float: left;
  position: relative;
  margin-left: 1rem;
  height: 5rem;
  box-shadow: .1rem .15rem rgba(0, 0, 0, 0.1);
}
.row2 {
  float: right;
  margin-right: 15%;
}
.side__img2 {
  float: right;
  position: relative;
  margin-right: 1rem;
  height: 5rem;
  box-shadow: -0.1rem .15rem rgba(0, 0, 0, 0.1);
}
.new {
    padding-bottom: .01rem;
    width: 100%;
    position: relative;
}
.new h3 {
    color: gray;
    position: relative;
    margin: 0 1rem;
    padding: .1rem;
    top: .3rem;
    font-size: .5rem;
    font-weight: 400;
    text-align: center;
}
.news__tab {
  position: relative;
  margin: auto;
  top: 0;
  height: 6.3rem;
  width: 6rem;
  background-color: #ECECEC;
  border-radius: .5rem;
  transition: .2s;
  box-shadow: 
    inset .05rem .05rem .1rem rgba(0,0,0,0.15),
    inset -0.1rem -0.1rem .1rem rgba(255,255,255,1);
}
.news__tab__list {
  position: relative;
  top: .7rem;
  width: 5.8rem;
  height: 3.2rem;
}
.news__tab__list__ul {
  position: relative;
  height: .4rem;
  width: 6rem;
  padding: 0 .3rem;
  margin-bottom: 0.05rem;
}
.news__tab__list__ul li {
    position: relative;
    padding: .05rem 0.19rem 0.05rem;
    border-radius: .1rem;
    margin-right: .2rem;
    font-size: 0.18rem;
    text-align: center;
    cursor: pointer;
    float: left;
    box-shadow: .05rem .05rem .1rem rgba(0,0,0,0.15), -0.05rem -0.05rem .15rem rgba(255,255,255,1);
    transition: box-shadow .2s ease-in-out;
}
.news__tab__list__ul li:hover {
    box-shadow: 0px 0px 0px rgba(0,0,0,0),
    0px 0px 0px rgba(255,255,255,0),
    inset .05rem .05rem .1rem rgba(0,0,0,0.15),
    inset -0.1rem -0.1rem .1rem rgba(255,255,255,1);
    transition: box-shadow .2s ease-in-out;
}
.currenters {
  color: #9CF;
  border-bottom: 0.03rem solid #9CF;
}
.tab_con {
    position: relative;
    width: 5.4rem;
    height: 2.65rem;
    margin: 0 .3rem 0;
}
.tab_con a {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  height: .5rem;
  border-bottom: .02rem solid rgba(255, 255, 255, 0.08);
  box-sizing: content-box;
  font-size: .16rem;
  color: #fff;
}
.item_p {
  width: 4.8rem;
  height: .2rem;
  line-height: .2rem;
  padding-left: .24rem;
}
.item li {
    background-color: #ECECEC;
    border-radius: .2rem;
    margin-top: .3rem;
    box-shadow: .05rem .05rem .1rem rgba(0,0,0,0.15), -0.05rem -0.05rem .15rem rgba(255,255,255,1);
    transition: box-shadow .2s ease-in-out;
}
.item li:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0,0,0,0),
    0px 0px 0px rgba(255,255,255,0),
    inset .05rem .05rem .1rem rgba(0,0,0,0.15),
    inset -0.1rem -0.1rem .1rem rgba(255,255,255,1);
    transition: box-shadow .2s ease-in-out;
}
.item li:hover a {
    text-decoration: none;
}