/*色卡：
  紫 #CCCCFF
  白 #FFFFFF
  蓝 #99CCFF
*/
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.bgWrap {
  position: relative;
  top: 60px;
  height: 750px;
  width: 1450px;
  margin: auto;
  border:30px solid #99CCFF;
  border-radius: 70px;
  background-color: #FBFBFB;
  object-fit: cover;
}
.poster__concept {
  height: 750px;
  width: 1450px;
  margin-left: 30px;
}
.poster__text {
  position: absolute;
  top: 45px;
  left: 130px;
  height: 600px;
  width: 400px;
  border-radius: 30px;
  background-color: #FFFFFF;
  padding: 30px;
}
.poster__text h2 {
  text-align: center;
  padding-bottom: 30px;
}
.king {
    margin: 100px auto;
    padding: 10px;
    position: relative;
    top: 200px;
}
.king li {
    position: relative;
    float: left;
    width: 105px;
    height: 600px;
    margin-right: 10px;
}
.king li.current {
    width: 800px;
    height: 530px;
}
.king li.current .big {
    display: block;
}

.row1 {
    top: 100px;
    margin-left: 200px;
    width: 1000px;
    height: 600px;
}
.small1 {
    float: left;
}
.row2 {
    top: 650px;
    margin-left: 800px;
    width: 1000px;
    height: 600px;
}
.small2 {
    float: right;
    left: -200px;
}
.big2 {
    float: right;
    left: -200px;
}
.row3 {
    top: 1300px;
    margin-left: 200px;
    width: 1000px;
    height: 600px;
}
.small3 {
    float: left;
}
.big {
    position: relative;
    width: 800px;
    height: 530px;
}
.small {
    position: relative;
    width: 105px;
    height: 600px;
}

.item li:hover {
  background: rgba(255, 212, 159, 0.06);
  cursor: pointer;
}

.new {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  width: 100%;
  height: 690px;
  color: #fff;
}

.new h3 {
  position: relative;
  margin: -600px auto 60px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.close-icon {
  left: -6%;
  position: absolute;
  z-index: 100;
}

.news__tab__list {
  position: relative;
  top: -25px;
  left: 610px;
  width: 600px;
  height: 340px;
  background: rgba(38, 18, 12, 0.62);
}
.news__tab__list__ul {
  position: relative;
  height: 36px;
  width: 592px;
  margin: 20px auto 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.news__tab__list__ul li {
  position: relative;
  padding: 0 19px 12px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  float: left;
}
.currenters {
  color: #ffd49f;
  border-bottom: 3px solid #ffd49f;
}
.tab_con {
  position: relative;
  top: 10px;
  width: 592px;
  margin: 0 auto;
  height: 260px;
}
.tab_con a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  box-sizing: content-box;
  font-size: 16px;
  color: #fff;
}
.item_p {
  width: 480px;
  height: 20px;
  line-height: 20px;
  padding-left: 11px;
}
.item_p2 {
  color: rgba(255, 255, 255, 0.35);
}

.error-text {
  color: #f96149;
  font-size: 12px;
  line-height: 22px;
}
